# ignore node modules
node_modules
# don't directly add git to container
.git
# ignore gitignore
.gitignore
# ignore build directory
build/
# ignore .env files
.env
README.modules
dist
.vcode
.eslintrc
.prettierrc